<template>
    <button
        id="to-top-btn"
        type="button"
        class="btn btn-info btn-sm"
        style="position: fixed; bottom: 16px; right: 16px; z-index: 1000; transition: .2s; transform: scale(0)"
        onclick="window.scrollTo(0, 0)">
        <i class="mdi mdi-arrow-up"></i>
    </button>
    <script>
        (function() {
            let btn = document.getElementById('to-top-btn')
            window.addEventListener('scroll', show)
            function show() {
                if (window.scrollY >= 100) {
                    btn.style.transform = 'scale(1)'
                } else {
                    btn.style.transform = 'scale(0)'
                }
            }
            show()
        })()
    </script>
</template>
