* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: var(--el-color-primary-light-8);
}

.b-white {
    background-color: #fff;
}

.f-title {
    font-weight: bold;
    font-size: 1.1rem
}

.f-content {
    font-size: 0.9rem
}

.text-center {
    text-align: center;
}

.content-center {
    width: 100%;
    display: flex;
    align-items: center;
}

.el-dialog__header {
    padding-bottom: 0px !important;
}

@import url(https://unpkg.com/tachyons-spacing@6.0.5/css/tachyons-spacing.min.css);
